<!DOCTYPE html>
<html>
<head>
  <title>Foodie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="container">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="<%= root_path %>">Home</a>

            </div>
            <a href="<%= restaurants_path %>" class="btn btn-default navbar-btn">Restaurants</a>
          </div>
        </nav>
        <div class="row">
        <div class="col-sm-12">
<%= yield %>
      </div>
    </div>
  </section>
</body>
</html>
